/*
Text and formatting
*/
body {
    background-color:white;
    background-image:url("whites.jpg");
    background-size: 100%;
}
p.ex1 {
    font-size:200px;
    color: black;
    text-align:center;
    padding: 20px;
    border-radius: 10px;
    border:#333

}
h1 {
    background-color:rgba(204, 204, 204, 0.603);
    color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
    background-color: whitesmoke;
    background-image: url("h1.jpg");
    border-radius: 30px;
    padding: 20px;
}
h2 {
    color:black;
    font-family:Garamond;
    text-align: center;
}
h2 span {
    background-color:rgba(24, 209, 233, 0.699);
}
h4 {
    color:black;
    font-family: Garamond;
}
h4 span {
    background-color:rgba(204, 204, 204, 0.603);
}
h5 {
    color:black;
    font-family: Garamond;
    position: fixed;
    text-align: right;  
    bottom: 0;
}
p {
    color:black;
}
#highlight {
    color: lightcoral;
    background-color: lightyellow;
}

/*Page formats */
.page {
    width: 100vw;
    height: 100vh;
    position: auto;
    top: 0;
    left: -100vw;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 0;
    background-color: white;
}
.page:target {
    left:0vw;
    z-index: 1;
}
/*Button formatting */
a:link, a:visited {
    color:white;
    text-decoration:none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:darkslategrey;
    padding: 14px 25px;
    border-radius: 10px 20px 10px;
    text-align: center;
    display: inline-block;
}
a:hover {
    color:burlywood;
    text-decoration:none;
}
a:active {
    color:silver;
    text-decoration:none;
}
.dropbtn {
    background-color: darkslategray;
    color: white;
    padding: 16px;
    border-radius: 10px 20px 10px;
    font-size: 16px;
    border: none;
}
.dropdown {
    position:relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position:  absolute;
    background-color: darkslategray;
    border:none;
    border-radius: 20px;
    opacity: 0.85;
    min-width: min-content;
    z-index: 1;
}
.dropdown-content a:hover {color:burlywood;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color: burlywood;}

.topnav {
    background-color: #333;
    overflow: hidden;
}

/*Images and formatting */

img {
    width:50%;
    height:50%;
    border: 5px;
    border-color: aliceblue;
    border-radius: 10px 20px 10px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }