/*
Text and formatting
*/
body {
    background-image:image("background.jpg");
    background-color:white;
}
h1 {
    background-color:rgba(204, 204, 204, 0.603);
    color:black;
    font-family:Garamond;
    text-align:center;
}
h2 {
    color:black;
    font-family:Garamond;
    text-align: center;
}
h2 span {
    background-color:rgba(24, 209, 233, 0.699);
}
h4 {
    color:black;
    font-family: Garamond;
}
h4 span {
    background-color:rgba(204, 204, 204, 0.603);
}
h5 {
    color:black;
    font-family: Garamond;
    text-align:end;
}
p {
    color:black;
}
#highlight {
    color: lightcoral;
    background-color: lightyellow;
}
img {
    border:5px solid rgba(128, 128, 128, 0.603);
    height:110%;
    width:110%;
    transform:rotate(180deg);
}